<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alertas</title>
    <link rel="stylesheet" href="Css/alerta.css">
</head>

<body>
    <div class="container">
        <nav>
            <p class="logo">SerCodex</p>
            <ul>
                <a href="Home.html">
                    <li>Inicio</li>
                </a>
                <a href="#">
                    <li>Alertas</li>
                </a>
                <a href="Mapa.html">
                    <li>Mapa</li>
                </a>
                <a href="Comunidad.html">
                    <li>Comunidad</li>
                </a>
            </ul>
        </nav>
        <header>
            <h1>Alertas</h1>
            <h2>Ciclo Ruta</h2>
        </header>
        <img class="fondo-emp" src="Img/360_F_358908973_k9y31m50zOnbIMOZYEEyNLBPbRanQig1.jpg" alt="">
    </div>
</body>

</html>