<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/styles.css">
    <title>Alertas</title>
</head>
<body>
    <header>
        <div class="menu container">
            <a href="#" class="logo">Logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="Img/menu-btn.png" class="menu icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="#">Alertas</a></li>
                    <li><a href="Mapa.html">Mapa</a></li>
                    <li><a href="Comunidad.html">Comunidad</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <div class="content">
                <h1>Alertas de Seguridad para Ciclistas</h1>
                <p>
                    Ciclo Ruta - Barranquilla
                </p>
            </div>
            <img src="" alt="">
        </div>
    </header>
</body>
</html>