<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CicloSeguro</title>
    <link rel="stylesheet" href="Css/styles.css">
</head>

<body>
    <header>
        <div class="menu container">
            <a href="#" class="logo">Logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="Img/menu-btn.png" class="menu icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="Alertas.html">Alertas</a></li>
                    <li><a href="Mapa.html">Mapa</a></li>
                    <li><a href="Comunidad.html">Comunidad</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <div class="content">
                <h1>Ciclo Ruta - Barranquilla</h1>
                <p>
                    Ciclo Ruta - Barranquilla
                </p>
            </div>
            <img src="" alt="">
        </div>
    </header>
    <main class="services container">
        <div class="service">
            <h3>Inicio</h3>
            <img src="Img/tree-736885_1280.jpg" alt="">
            <p>
                ¡Bienvenido a nuestra página dedicada a las ciclorutas! En un mundo cada vez más enfocado en la
                movilidad sostenible y el bienestar, las ciclorutas se han convertido en una opción popular para
                explorar nuestras ciudades y disfrutar de la naturaleza. Aquí encontrarás información esencial, consejos
                de seguridad, rutas emocionantes y todo lo que necesitas para aprovechar al máximo tu experiencia en
                bicicleta. Únete a nosotros mientras exploramos un mundo de aventuras sobre dos ruedas.
            </p>
        </div>
    </main>
    <main class="services container">
        <div class="service">
            <h3>Alertas</h3>
            <img src="Img/360_F_358908973_k9y31m50zOnbIMOZYEEyNLBPbRanQig1.jpg" alt="">
            <p>
                En nuestra sección de alertas, te mantendremos informado sobre las últimas novedades y condiciones en
                las rutas de ciclismo. Sabemos que la seguridad es fundamental cuando se trata de disfrutar de tu viaje
                en bicicleta, y es por eso que aquí encontrarás actualizaciones en tiempo real sobre obstáculos, eventos
                especiales y cualquier información relevante que pueda afectar tu recorrido. Mantente al tanto y
                prepárate para pedalear con confianza en nuestras ciclorutas.
            </p>
        </div>
    </main>
    <main class="services container">
        <div class="service">
            <h3>Mapa</h3>
            <img src="Img/stock-photo-barranquilla-pinned-on-a-map-of-america-332889416.jpg" alt="">
            <p>
                Explora Barranquilla a través de nuestro detallado mapa de ciclorutas. Sumérgete en la belleza de esta
                vibrante ciudad costera de Colombia mientras pedaleas por rutas cuidadosamente trazadas para ciclistas
                de todas las edades y niveles. Nuestro mapa te guiará a través de paisajes urbanos, parques serenos y
                senderos junto al río, brindándote la oportunidad de descubrir Barranquilla de una manera única y
                sostenible. Prepárate para una emocionante aventura en dos ruedas y descubre los tesoros ocultos de esta
                encantadora ciudad a orillas del Caribe.
            </p>
        </div>
    </main>
    <main class="services container">
        <div class="service">
            <h3>Comunidad</h3>
            <img src="Img/depositphotos_196912238-stock-photo-volunteers-holding-around-each-other.jpg" alt="">
            <p>
                La comunidad es el corazón latente de nuestra pasión por las ciclorutas. En esta sección, te invitamos a
                unirte a una red de entusiastas de la bicicleta que comparten tus intereses y compromiso con un estilo
                de vida activo y sostenible. Aquí podrás conocer a otros ciclistas, intercambiar historias y consejos,
                participar en eventos locales y contribuir a la promoción de un mundo más saludable y ecológico. ¡Únete
                a nuestra vibrante comunidad y juntos pedalearemos hacia un futuro mejor!
            </p>
        </div>
    </main>
</body>
</html>