<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link rel="stylesheet" href="Css/mapa.css">
</head>

<body>
    <div class="container">
        <nav>
            <p class="logo">SerCodex</p>
            <ul>
                <a href="Home.html">
                    <li>Inicio</li>
                </a>
                <a href="Alertas.html">
                    <li>Alertas</li>
                </a>
                <a href="#">
                    <li>Mapa</li>
                </a>
                <a href="Comunidad.html">
                    <li>Comunidad</li>
                </a>
            </ul>
        </nav>
        <header>
            <h1>Mapa</h1>
            <h2>Ciclo Ruta</h2>
        </header>
        <iframe class="fondo-emp"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125335.26293749735!2d-74.90042069801589!3d10.98396939482529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d44d12ae605%3A0x2633844581b917b2!2sBarranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses-419!2sco!4v1697411798371!5m2!1ses-419!2sco"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</body>

</html>